.navigation {
	position: relative;
	height: 10rem;
	width: 100%;
	background-color: #f7f7f7;
	padding-right: 5rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	&__list {
		list-style: none;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__item {
		font-size: 1.5rem;
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-right: 2rem;
		}

		&--link {
			text-decoration: none;
			color: #000;
			cursor: pointer;

			display: flex;
			align-items: center;

			img {
				width: 1.8rem;
				margin-right: 5px;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.navigation {
		height: 7rem;
		padding-right: 2rem;
	}
}
