.btn {
	display: inline-block;
	background-color: #e74c3c;
	color: #fff;
	padding: 1.3rem 3rem;
	text-decoration: none;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 10rem;
	transition: all 0.3s ease-in;
	cursor: pointer;
	border: none;

	&:hover,
	&:active {
		outline: none;
		background-color: #c0392b;
	}
}
